.collapsible{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.btn{
  font-size: 18px;
  padding: 5px 10px;
  background-color: darkblue;
  color: whitesmoke;
  border: 2px solid darkblue;
  border-radius: 10px;
}

.fable{
  display: none;
  padding: 25px 20px 0 20px;
  overflow: hidden;
  border: 1px solid darkgray;
}


.collapseElemShow{
  animation-name: collapse;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.collapseElemHide{
  animation-name: collapseReverse;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.text{
  padding: 0 0 25px 0;
  margin: 0;
  white-space: pre-line;
}
@keyframes collapse{
  from {
    height: 0;
    border-bottom: none;
    display: none;
  }

  1% {
    display: block;
    border-bottom: none;
  }

  50% {
    height: 100px;
    border-bottom: none;
  }

  97%{
    height: 198px;
    border-bottom: none;
  }
  to {
    height: 200px;
    display: block;
  }
}

@keyframes collapseReverse{
  from {
    height: 200px;
    display: block;
  }

  1%{
    border-bottom: none;
  }

  50% {
    height: 100px;
    border-bottom: none;
  }

  99%{
    display: block;
    height: 2px;
    border-bottom: none;
  }
  to {
    height: 0;
    border-bottom: none;
    display: none;
  }
}
